@font-face {
    font-family: 'goudy';
    src: url('../fonts/GoudyStm-webfont.woff') format('woff'),
         url('../fonts/GoudyStm-webfont.ttf') format('truetype'),
         url('../fonts/GoudyStm-webfont.svg') format('svg'),
         url('../fonts/GoudyStm-italic-webfont.woff') format('woff'),
         url('../fonts/GoudyStm-italic-webfont.ttf') format('ttf'),
         url('../fonts/GoudyStm-italic-webfont.svg') format('svg');

}

@font-face {
	font-family:'GoudyStM-Italic';
	src: url('GoudyStM-Italic_gdi.eot');
	src: url('GoudyStM-Italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('GoudyStM-Italic_gdi.woff') format('woff'),
		url('GoudyStM-Italic_gdi.ttf') format('truetype'),
		url('GoudyStM-Italic_gdi.svg#GoudyStM-Italic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}


    @font-face {
    	font-family: 'lobster';
    	src: url('../fonts/Lobster-Regular.ttf');
    	font-style: italic;
    	font-weight: norma;
    }

