
html {
	height: 100%;
}

	body {
		background: url(../images/dandelion.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;

		font-size: 62.5%;
		width: 100%;
		height: 100%;
		margin: 0;
}


	.intro {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}

	.quo-container {
		// background-color: #11aa55;
		order: 1;
		flex: auto;
		height: 13%;
		//border: 1px solid red;
	}

	.quo-title {
		font-style: italic;
		font-size: 3em;
		font-family: Geneva, Tahoma, Verdana, sans-serif;
		color: yellow;
		height: 50px;
		margin-top: 7%;
		margin-left: 9%;
		//border: 1 solid red;
	}

	.content {
		font-family: 'GoudyStM-Italic, sans-serif';
		font-style: italic;
		margin-left: 8%;
		background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
		background: rgba(204, 204, 204, 0.0); 
	}

	.right_col {
		order: 2;
		flex: auto;
		margin-top: 15%;
		height: 60%;
		width: 40%;
	}

	.things {
		order: 1;
		background: rgba(200, 200, 200, 0.0);
		text-align: center;
		font-size: 16pt;
		line-height: 24pt;
		font-family: 'GoudyStM-Italic, sans-serif';
		font-style: italic;
	}

	.lede {
		order: 2;
		text-align: center;
		font-size: 16pt;
		margin-top: 10%;
	}


	.list-style {
		list-style: none;
	}

	

	.quo-main {
		height: 100%;
		width: 100%;
		background-color: #aabb22;
		margin: 0 5% 0 5%;
	}

	div.left_pillar, div.right_pillar {
		background-color: green;
		height: 100%;
	}

	.main_panel {
		background-color: yellow;
		height: 100%;
	}

	.archives {
		background-color: blue;
		height: 100%;
	}

	ul.quo-photos {
		list-style-type: none;
		margin: 10px 0 10px 0;
		
	}

	li.quo-photo {
		border: 1px solid black;
	}

