
html {
	height: 100%;
}

	body {
		background: url(../images/dandelion.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;

		font-size: 62.5%;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.quo-title {
		font-style: italic;
		font-size: 3em;
		font-family: Geneva, Tahoma, Verdana, sans-serif;
		color: yellow;
		height: 50px;
		margin-top: 3%;
		margin-left: 9%;
		//border: 1 solid red;
	}

	.content {
		font-family: 'GoudyStM-Italic';
		font-style: italic;
		margin-left: 8%;
		background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
		background: rgba(204, 204, 204, 0.0); 
	}

	@font-face {
    font-family: 'goudy';
    src: url('../fonts/GoudyStm-webfont.woff') format('woff'),
         url('../fonts/GoudyStm-webfont.ttf') format('truetype'),
         url('../fonts/GoudyStm-webfont.svg') format('svg'),
         url('../fonts/GoudyStm-italic-webfont.woff') format('woff'),
         url('../fonts/GoudyStm-italic-webfont.ttf') format('ttf'),
         url('../fonts/GoudyStm-italic-webfont.svg') format('svg');

}

@font-face {
	font-family:'GoudyStM-Italic';
	src: url('GoudyStM-Italic_gdi.eot');
	src: url('GoudyStM-Italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('GoudyStM-Italic_gdi.woff') format('woff'),
		url('GoudyStM-Italic_gdi.ttf') format('truetype'),
		url('GoudyStM-Italic_gdi.svg#GoudyStM-Italic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}


    @font-face {
    	font-family: 'lobster';
    	src: url('../fonts/Lobster-Regular.ttf');
    	font-style: italic;
    	font-weight: norma;
    }


	.list-style {
		list-style: none;
	}

	.quo-container {
		// background-color: #11aa55;
		height: 93%;
		//border: 1px solid red;
	}

	.quo-main {
		height: 100%;
		width: 100%;
		background-color: #aabb22;
		margin: 0 5% 0 5%;
	}

	div.left_pillar, div.right_pillar {
		background-color: green;
		height: 100%;
	}

	.main_panel {
		background-color: yellow;
		height: 100%;
	}

	.archives {
		background-color: blue;
		height: 100%;
	}

	ul.quo-photos {
		list-style-type: none;
		margin: 10px 0 10px 0;
		
	}

	li.quo-photo {
		border: 1px solid black;
	}

