@(title: String)
<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/fonts.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>

<body data-ng-app="StatusOfQuo">

	<div class="quo-container" data-ng-controller="SOQController">
		<div class="quo-title" id="t4">
			<a  href="#">@title</a>
		</div>	
	 <div main-view>

	 </div>	
	</div>
	<article class="things"> There ought to be a poem,<br>
	 about things. <br> 
	Considering things are so much of what we are. <br>
	It ought to say <br>
	 they exist and then don't <br>
	and chatter while we wait.<br>
	 We could confuse ourselves with things <br>
	 and matters not of which we care <br>
	 And alone, we are reminded all too well<br>
	  that things are what we are. </article>
	<div class="footer navbar-fixed-bottom">
		<hr>
		<p>&copy; 2015</p>
	</div>

	<script src='@routes.Assets.at("vendor/angular.js")'></script>	
	<script src='@routes.Assets.at("javascript/statusofquo.js")'></script>	
	<script src='@routes.Assets.at("vendor/lodash.js")'></script>	
	<script src='@routes.Assets.at("vendor/restangular.js")'></script>
</body>
</html>

