@(title: String)
<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "main.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "bootstrap.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public/images", "favicon.png")">
</head>

<body data-ng-app="StatusOfQuo">

	<div class="container" data-ng-controller="SOQController">

		<h1>
			<a href="#">@title</a>
		</h1>
		
		<div article></div>
			
		<button ng-click="getArticles()">Get</button>
	</div>
	{{3 + 2}}
	<div class="footer navbar-fixed-bottom">
		<hr>
		<p>&copy; 2013</p>
	</div>

	<script src='@routes.Assets.at("/public/javascript/vendor", "angular.js")'></script>	
	<script src='@routes.Assets.at("/public/javascript", "statusofquo.js")'></script>	
	<script src='@routes.Assets.at("/public/javascript/vendor", "lodash.js")'></script>	
	<script src='@routes.Assets.at("/public/javascript/vendor", "restangular.js")'></script>	

</body>
</html>